 /* ------ Toolbox ------ */

 /* ------ Region tools ------ */

#polygon_region_button:hover{
	background-color: #99BBF5;
}

#polygon_region_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/polygon_icon.png");
 border: 2px solid #AAA;
}

#polygon_region_button:clicked{
  background-color: black;
}

#polygon_region_button:disabled{
  background-color: #cccccc;
}


#square_region_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/square_icon.png");
 border: 2px solid #AAA;
}

#square_region_button:hover{
	background-color: #99BBF5;
}

#square_region_button:disabled{
  background-color: #cccccc;
}


#fixed_square_region_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/fixed_square_icon.png");
 border: 2px solid #AAA;
}

#fixed_square_region_button:hover{
	background-color: #99BBF5;
}

#fixed_square_region_button:disabled{
  background-color: #cccccc;
}


#diagonal_line_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/line_icon.png");
 border: 2px solid #AAA;
}

#diagonal_line_button:hover{
	background-color: #99BBF5;
}

#diagonal_line_button:disabled{
  background-color: #cccccc;
}

#horizontal_line_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/horizontal_line_icon.png");
 border: 2px solid #AAA;
}

#horizontal_line_button:hover{
	background-color: #99BBF5;
}

#horizontal_line_button:disabled{
  background-color: #cccccc;
}

#vertical_line_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/vertical_line_icon.png");
 border: 2px solid #AAA;
}

#vertical_line_button:hover{
	background-color: #99BBF5;
}

#vertical_line_button:disabled{
  background-color: #cccccc;
}


#clear_region_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/clear_selection_icon.png");
 border: 2px solid #AAA;
}

#clear_region_button:hover{
	background-color: #99BBF5;
}

#clear_region_button:disabled{
  background-color: #cccccc;
}

 /* ------ Image and process tools ------ */

 #process_information_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/process_information_icon.png");
 border: 2px solid #AAA;
}

#process_information_button:hover{
	background-color: #99BBF5;
}

#process_information_button:disabled{
  background-color: #cccccc;
}

#undo_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/undo_icon.png");
 border: 2px solid #AAA;
}

#undo_button:hover{
	background-color: #99BBF5;
}

#undo_button:disabled{
  background-color: #cccccc;
}

#save_image_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/save_icon.png");
 border: 2px solid #AAA;
}

#save_image_button:hover{
	background-color: #99BBF5;
}

#save_image_button:disabled{
  background-color: #cccccc;
}

#next_image_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/next_image_icon.png");
 border: 2px solid #AAA;
}

#next_image_button:hover{
	background-color: #99BBF5;
}

#next_image_button:disabled{
  background-color: #cccccc;
}

#previous_image_button{
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-color: transparent;
 background-image: url("./src/Resources/Icons/previous_image_icon.png");
 border: 2px solid #AAA;
}

#previous_image_button:hover{
	background-color: #99BBF5;
}

#previous_image_button:disabled{
  background-color: #cccccc;
}


 /* ------------ */


#image_viewer{
 border: 1px solid #DDD;
}

QPushButton {
  border: 1px solid #bababa;
  background-color: #bababa;
  color: #ffffff;
}

QPushButton:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

QPushButton:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}